@import "tailwindcss";

@theme {
    /* Background Colors */
    --color-primary: #242424;
    --color-primary-hover: #3d3d3d;
    --color-primary-active: #505050;

    --color-secondary: #2563eb;
    --color-secondary-hover: #1d4ed8;
    --color-secondary-active: #60a5fa;

    /* Text Colors */
    --color-primary-text: #ffffff;
    --color-primary-text-hover: #e0e7ef;
    --color-primary-text-active: #bfc9d9;

    --color-secondary-text: #42BFDD;
    --color-secondary-text-hover: #e0e7ef;
    --color-secondary-text-active: #1e293b;

    /* Tooltips */
    --color-tooltip-highlight: #2d7abd;

    /* Tiers */
    --color-tier-0: #9d9d9d;
    --color-tier-1: #ffffff;
    --color-tier-2: #1eff00;
    --color-tier-3: #0070dd;
    --color-tier-4: #a335ee;
    --color-tier-5: #ff8000;

    /* Health and Mana */
    --color-health: #16a34a;
    --color-health-bg: #450a0a;
    --color-mana: #2563eb;
    --color-mana-bg: #374151;

    /* Buttons */
    --color-button: oklch(48.8% 0.243 264.376);
    --color-button-hover: oklch(42.4% 0.199 265.638);
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: xxx-large;
    font-weight: bold;
}

h2 {
    font-size: xx-large;
    font-weight: bold;
}

h3 {
    font-size: x-large;
    font-weight: bold;
}

h4 {
    font-size: x-large;
    font-weight: bold;
}

/*
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
} */